<template>
  <div>
    <v-simple-table dense>
      <thead>
        <tr>
          <th>Code</th>
          <th>URI</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="adapter in adapters"
            v-bind:key="adapter.id"
            @mouseover="hoveredAdapter = adapter"
            @mouseleave="hoveredAdapter = null">
          <td>{{ adapter.code }}</td>
          <td>{{ adapter.uri }}</td>
          <td class="actions">
            <span v-if="adapter == hoveredAdapter">
              <v-btn icon x-small color="blue" @click="$emit('adapter-update', adapter)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon x-small color="red" @click="$emit('adapter-delete', adapter)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </span>
          </td>
        </tr>
      </tbody>
    </v-simple-table>
    <v-btn outlined
           class="mt-2"
           color="primary"
           @click="$emit('adapter-create')">Create</v-btn>
  </div>
</template>

<script>
export default {
  name: 'AdapterList',
  props: {
    adapters: Array
  },
  data: function() {
    return {
      hoveredAdapter: null,
    };
  }
}
</script>

<style scoped>
tbody td.actions {
  width: 72px;
  min-width: 72px;
  max-width: 72px;
}
</style>
