<template>
  <div v-if="adapter">
    <v-text-field label="Id" v-model="adapter.id" disabled></v-text-field>
    <v-text-field label="Code" v-model="adapter.code" :disabled="!isCreating"></v-text-field>
    <v-text-field label="URI" v-model="adapter.uri"></v-text-field>
  </div>
</template>

<script>
export default {
  name: 'AdapterUpdate',
  props: {
    adapter: Object,
    isCreating: Boolean
  }
}
</script>

<style scoped>
</style>
