<template>
  <div>
    <div class="title">Adapters</div>

    <adapter-list v-if="!isLoadingAdapters"
                 v-bind:adapters="adapters"
                 @adapter-create="showCreateAdapterWindow"
                 @adapter-update="showUpdateAdapterWindow"
                 @adapter-delete="showDeleteAdapterWindow" />
    <div v-else>Loading...</div>

    <v-dialog v-bind:value="creatingAdapter" max-width="600">
      <v-card>
        <v-card-title>Creating Adapter</v-card-title>

        <v-card-text>
          <adapter-update v-bind:adapter="creatingAdapter" v-bind:isCreating="true" />
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="creatingAdapter = null">Cancel</v-btn>
          <v-btn color="primary" text @click="createAdapter">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-bind:value="updatingAdapter" max-width="600">
      <v-card>
        <v-card-title>Updating Adapter</v-card-title>

        <v-card-text>
          <adapter-update v-bind:adapter="updatingAdapter" />
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="updatingAdapter = null">Cancel</v-btn>
          <v-btn color="primary" text @click="updateAdapter">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-bind:value="deletingAdapter" max-width="600">
      <v-card>
        <v-card-title>Deleting Adapter</v-card-title>

        <v-card-text>
          Delete adapter <span class="font-weight-bold">{{ deletingAdapter && deletingAdapter.code }}</span>?
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="deletingAdapter = null">Cancel</v-btn>
          <v-btn color="red" text @click="deleteAdapter">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import AdapterService from '../../services/AdapterService';

import AdapterList from './AdapterList.vue'
import AdapterUpdate from './AdapterUpdate.vue'

export default {
  name: 'AdapterPage',
  components: {
    AdapterList,
    AdapterUpdate
  },
  data: function() {
   return {
      adapters: [],
      isLoadingAdapters: false,
      creatingAdapter: null,
      updatingAdapter: null,
      deletingAdapter: null
    };
  },
  methods: {
    showCreateAdapterWindow: function() {
      this.creatingAdapter = {};
    },

    showUpdateAdapterWindow: function(adapter) {
      this.updatingAdapter = Object.assign({}, adapter);
    },

    showDeleteAdapterWindow: function(adapter) {
      this.deletingAdapter = adapter;
    },

    retrieveAdapters: function() {
      AdapterService.retrieveAll()
        .then(function (adapters) {
          this.adapters = adapters;
          this.isLoadingAdapters = false;
        }.bind(this));
    },

    createAdapter: function() {
      AdapterService.create(this.creatingAdapter)
        .then(function (adapter) {
          this.adapters.push(adapter);
          this.creatingAdapter = null;
        }.bind(this));
    },

    updateAdapter: function() {
      AdapterService.update(this.updatingAdapter.code, this.updatingAdapter)
        .then(function (adapter) {
          const index = this.findAdapterIndex(this.updatingAdapter.id);
          this.adapters.splice(index, 1, adapter);
          this.updatingAdapter = null;
        }.bind(this));
    },

    deleteAdapter: function() {
      AdapterService.delete(this.deletingAdapter.code)
        .then(function () {
          const index = this.findAdapterIndex(this.deletingAdapter.id);
          this.adapters.splice(index, 1);
          this.deletingAdapter = null;
        }.bind(this));
    },

    findAdapterIndex: function(adapterId) {
      return this.adapters.findIndex( ({ id }) => id === adapterId );
    }
  },

  created() {
    this.isLoadingAdapters = true;
    this.retrieveAdapters();
  }
}
</script>

<style scoped>
</style>
