<template>
  <div>
    <v-simple-table dense>
      <thead>
        <tr>
          <th>Code</th>
          <th>Adapter</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="messageKind in messageKinds"
            v-bind:key="messageKind.id"
            @mouseover="hoveredMessageKind = messageKind"
            @mouseleave="hoveredMessageKind = null">
          <td>{{ messageKind.code }}</td>
          <td>{{ messageKind.adapter }}</td>
          <td class="actions">
            <span v-if="messageKind == hoveredMessageKind">
              <v-btn icon x-small color="blue" @click="$emit('message-kind-update', messageKind)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon x-small color="red" @click="$emit('message-kind-delete', messageKind)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </span>
          </td>
        </tr>
      </tbody>
    </v-simple-table>
    <v-btn outlined
           class="mt-2"
           color="primary"
           @click="$emit('message-kind-create')">Create</v-btn>
  </div>
</template>

<script>
export default {
  name: 'MessageKindList',
  props: {
    messageKinds: Array
  },
  data: function() {
    return {
      hoveredMessageKind: null,
    };
  }
}
</script>

<style scoped>
tbody td.actions {
  width: 72px;
  min-width: 72px;
  max-width: 72px;
}
</style>
