<template>
  <div v-if="messageKind">
    <v-text-field label="Id" v-model="messageKind.id" disabled></v-text-field>
    <v-text-field label="Code" v-model="messageKind.code" :disabled="!isCreating"></v-text-field>
    <v-combobox
      label="Adapter"
      v-model="messageKind.adapter"
      :items="adapters"
      item-text="code"
      item-value="code"
      :return-object="false"></v-combobox>
  </div>
</template>

<script>
import AdapterService from '../../services/AdapterService';

export default {
  name: 'MessageKindUpdate',
  props: {
    messageKind: Object,
    isCreating: Boolean
  },
  data: function() {
    return {
      adapters: [],
      isLoadingAdapters: false
    };
  },

  created() {
    this.isLoadingAdapters = true;

    AdapterService.retrieveAll()
      .then(function (adapters) {
        this.adapters = adapters;
        this.isLoadingAdapters = false;
      }.bind(this));
  }
}
</script>

<style scoped>
</style>
