<template>
  <div>
    <div class="title">Message Kinds</div>

    <message-kind-list v-if="!isLoadingMessageKinds"
                 v-bind:messageKinds="messageKinds"
                 @message-kind-create="showCreateMessageKindWindow"
                 @message-kind-update="showUpdateMessageKindWindow"
                 @message-kind-delete="showDeleteMessageKindWindow" />
    <div v-else>Loading...</div>

    <v-dialog v-bind:value="creatingMessageKind" max-width="600">
      <v-card>
        <v-card-title>Creating Message Kind</v-card-title>

        <v-card-text>
          <message-kind-update v-bind:messageKind="creatingMessageKind" v-bind:isCreating="true" />
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="creatingMessageKind = null">Cancel</v-btn>
          <v-btn color="primary" text @click="createMessageKind">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-bind:value="updatingMessageKind" max-width="600">
      <v-card>
        <v-card-title>Updating Message Kind</v-card-title>

        <v-card-text>
          <message-kind-update v-bind:messageKind="updatingMessageKind" />
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="updatingMessageKind = null">Cancel</v-btn>
          <v-btn color="primary" text @click="updateMessageKind">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-bind:value="deletingMessageKind" max-width="600">
      <v-card>
        <v-card-title>Deleting Message Kind</v-card-title>

        <v-card-text>
          Delete message kind <span class="font-weight-bold">{{ deletingMessageKind && deletingMessageKind.code }}</span>?
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="deletingMessageKind = null">Cancel</v-btn>
          <v-btn color="red" text @click="deleteMessageKind">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import MessageKindService from '../../services/MessageKindService';

import MessageKindList from './MessageKindList.vue'
import MessageKindUpdate from './MessageKindUpdate.vue'

export default {
  name: 'MessageKindPage',
  components: {
    MessageKindList,
    MessageKindUpdate
  },
  data: function() {
   return {
      messageKinds: [],
      isLoadingMessageKinds: false,
      creatingMessageKind: null,
      updatingMessageKind: null,
      deletingMessageKind: null
    };
  },
  methods: {
    showCreateMessageKindWindow: function() {
      this.creatingMessageKind = {};
    },

    showUpdateMessageKindWindow: function(messageKind) {
      this.updatingMessageKind = Object.assign({}, messageKind);
    },

    showDeleteMessageKindWindow: function(messageKind) {
      this.deletingMessageKind = messageKind;
    },

    retrieveMessageKinds: function() {
      MessageKindService.retrieveAll()
        .then(function (messageKinds) {
          this.messageKinds = messageKinds;
          this.isLoadingMessageKinds = false;
        }.bind(this));
    },

    createMessageKind: function() {
      MessageKindService.create(this.creatingMessageKind)
        .then(function (messageKind) {
          this.messageKinds.push(messageKind);
          this.creatingMessageKind = null;
        }.bind(this));
    },

    updateMessageKind: function() {
      MessageKindService.update(this.updatingMessageKind.code, this.updatingMessageKind)
        .then(function (messageKind) {
          const index = this.findMessageKindIndex(this.updatingMessageKind.id);
          this.messageKinds.splice(index, 1, messageKind);
          this.updatingMessageKind = null;
        }.bind(this));
    },

    deleteMessageKind: function() {
      MessageKindService.delete(this.deletingMessageKind.code)
        .then(function () {
          const index = this.findMessageKindIndex(this.deletingMessageKind.id);
          this.messageKinds.splice(index, 1);
          this.deletingMessageKind = null;
        }.bind(this));
    },

    findMessageKindIndex: function(messageKindId) {
      return this.messageKinds.findIndex( ({ id }) => id === messageKindId );
    }
  },

  created() {
    this.isLoadingMessageKinds = true;
    this.retrieveMessageKinds();
  }
}
</script>

<style scoped>
</style>
