<template>
  <div>
    <div class="title">Delivery Kinds</div>

    <delivery-kind-list v-if="!isLoadingDeliveryKinds"
                 v-bind:deliveryKinds="deliveryKinds"
                 @delivery-kind-create="showCreateDeliveryKindWindow"
                 @delivery-kind-update="showUpdateDeliveryKindWindow"
                 @delivery-kind-delete="showDeleteDeliveryKindWindow" />
    <div v-else>Loading...</div>

    <v-dialog v-bind:value="creatingDeliveryKind" max-width="600">
      <v-card>
        <v-card-title>Creating Delivery Kind</v-card-title>

        <v-card-text>
          <delivery-kind-update v-bind:deliveryKind="creatingDeliveryKind" v-bind:isCreating="true" />
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="creatingDeliveryKind = null">Cancel</v-btn>
          <v-btn color="primary" text @click="createDeliveryKind">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-bind:value="updatingDeliveryKind" max-width="600">
      <v-card>
        <v-card-title>Updating Delivery Kind</v-card-title>

        <v-card-text>
          <delivery-kind-update v-bind:deliveryKind="updatingDeliveryKind" />
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="updatingDeliveryKind = null">Cancel</v-btn>
          <v-btn color="primary" text @click="updateDeliveryKind">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-bind:value="deletingDeliveryKind" max-width="600">
      <v-card>
        <v-card-title>Deleting Delivery Kind</v-card-title>

        <v-card-text>
          Delete delivery kind <span class="font-weight-bold">{{ deletingDeliveryKind && deletingDeliveryKind.code }}</span>?
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="deletingDeliveryKind = null">Cancel</v-btn>
          <v-btn color="red" text @click="deleteDeliveryKind">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DeliveryKindService from '../../services/DeliveryKindService';

import DeliveryKindList from './DeliveryKindList.vue'
import DeliveryKindUpdate from './DeliveryKindUpdate.vue'

export default {
  name: 'DeliveryKindPage',
  components: {
    DeliveryKindList,
    DeliveryKindUpdate
  },
  data: function() {
   return {
      deliveryKinds: [],
      isLoadingDeliveryKinds: false,
      creatingDeliveryKind: null,
      updatingDeliveryKind: null,
      deletingDeliveryKind: null
    };
  },
  methods: {
    showCreateDeliveryKindWindow: function() {
      this.creatingDeliveryKind = {};
    },

    showUpdateDeliveryKindWindow: function(deliveryKind) {
      this.updatingDeliveryKind = Object.assign({}, deliveryKind);
    },

    showDeleteDeliveryKindWindow: function(deliveryKind) {
      this.deletingDeliveryKind = deliveryKind;
    },

    retrieveDeliveryKinds: function() {
      DeliveryKindService.retrieveAll()
        .then(function (deliveryKinds) {
          this.deliveryKinds = deliveryKinds;
          this.isLoadingDeliveryKinds = false;
        }.bind(this));
    },

    createDeliveryKind: function() {
      DeliveryKindService.create(this.creatingDeliveryKind)
        .then(function (deliveryKind) {
          this.deliveryKinds.push(deliveryKind);
          this.creatingDeliveryKind = null;
        }.bind(this));
    },

    updateDeliveryKind: function() {
      DeliveryKindService.update(this.updatingDeliveryKind.code, this.updatingDeliveryKind)
        .then(function (deliveryKind) {
          const index = this.findDeliveryKindIndex(this.updatingDeliveryKind.id);
          this.deliveryKinds.splice(index, 1, deliveryKind);
          this.updatingDeliveryKind = null;
        }.bind(this));
    },

    deleteDeliveryKind: function() {
      DeliveryKindService.delete(this.deletingDeliveryKind.code)
        .then(function () {
          const index = this.findDeliveryKindIndex(this.deletingDeliveryKind.id);
          this.deliveryKinds.splice(index, 1);
          this.deletingDeliveryKind = null;
        }.bind(this));
    },

    findDeliveryKindIndex: function(deliveryKindId) {
      return this.deliveryKinds.findIndex( ({ id }) => id === deliveryKindId );
    }
  },

  created() {
    this.isLoadingDeliveryKinds = true;
    this.retrieveDeliveryKinds();
  }
}
</script>

<style scoped>
</style>
