<template>
  <div v-if="deliveryKind">
    <v-text-field label="Id" v-model="deliveryKind.id" disabled></v-text-field>
    <v-text-field label="Code" v-model="deliveryKind.code" :disabled="!isCreating"></v-text-field>
    <v-combobox
      label="Delivery Method"
      v-model="deliveryKind.deliveryMethod"
      :items="deliveryMethods"
      item-text="code"
      item-value="code"
      :return-object="false"></v-combobox>
    <v-combobox
      label="Adapter"
      v-model="deliveryKind.adapter"
      :items="adapters"
      item-text="code"
      item-value="code"
      :return-object="false"></v-combobox>

  </div>
</template>

<script>
import DeliveryMethodService from '../../services/DeliveryMethodService';
import AdapterService from '../../services/AdapterService';

export default {
  name: 'DeliveryKindUpdate',
  props: {
    deliveryKind: Object,
    isCreating: Boolean
  },
  data: function() {
    return {
      deliveryMethods: [],
      adapters: [],
      isLoadingDeliveryMethods: false,
      isLoadingAdapters: false
    };
  },

  created() {
    this.isLoadingDeliveryMethods = true;
    this.isLoadingAdapters = true;

    DeliveryMethodService.retrieveAll()
      .then(function (deliveryMethods) {
        this.deliveryMethods = deliveryMethods;
        this.isLoadingDeliveryMethods = false;
      }.bind(this));

    AdapterService.retrieveAll()
      .then(function (adapters) {
        this.adapters = adapters;
        this.isLoadingAdapters = false;
      }.bind(this));
  }
}
</script>

<style scoped>
</style>
