<template>
  <div>
    <v-simple-table dense>
      <thead>
        <tr>
          <th>Code</th>
          <th>Delivery Method</th>
          <th>Adapter</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="deliveryKind in deliveryKinds"
            v-bind:key="deliveryKind.id"
            @mouseover="hoveredDeliveryKind = deliveryKind"
            @mouseleave="hoveredDeliveryKind = null">
          <td>{{ deliveryKind.code }}</td>
          <td>{{ deliveryKind.deliveryMethod }}</td>
          <td>{{ deliveryKind.adapter }}</td>
          <td class="actions">
            <span v-if="deliveryKind == hoveredDeliveryKind">
              <v-btn icon x-small color="blue" @click="$emit('delivery-kind-update', deliveryKind)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon x-small color="red" @click="$emit('delivery-kind-delete', deliveryKind)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </span>
          </td>
        </tr>
      </tbody>
    </v-simple-table>
    <v-btn outlined
           class="mt-2"
           color="primary"
           @click="$emit('delivery-kind-create')">Create</v-btn>
  </div>
</template>

<script>
export default {
  name: 'DeliveryKindList',
  props: {
    deliveryKinds: Array
  },
  data: function() {
    return {
      hoveredDeliveryKind: null,
    };
  }
}
</script>

<style scoped>
tbody td.actions {
  width: 72px;
  min-width: 72px;
  max-width: 72px;
}
</style>
