<template>
  <div v-if="deliveryMethod">
    <v-text-field label="Id" v-model="deliveryMethod.id" disabled></v-text-field>
    <v-text-field label="Code" v-model="deliveryMethod.code" :disabled="!isCreating"></v-text-field>
  </div>
</template>

<script>
export default {
  name: 'DeliveryMethodUpdate',
  props: {
    deliveryMethod: Object,
    isCreating: Boolean
  }
}
</script>

<style scoped>
</style>
