<template>
  <div>
    <v-simple-table dense>
      <thead>
        <tr>
          <th>Code</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="deliveryMethod in deliveryMethods"
            v-bind:key="deliveryMethod.id"
            @mouseover="hoveredDeliveryMethod = deliveryMethod"
            @mouseleave="hoveredDeliveryMethod = null">
          <td>{{ deliveryMethod.code }}</td>
          <td class="actions">
            <span v-if="deliveryMethod == hoveredDeliveryMethod">
              <v-btn icon x-small color="blue" @click="$emit('delivery-method-update', deliveryMethod)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon x-small color="red" @click="$emit('delivery-method-delete', deliveryMethod)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </span>
          </td>
        </tr>
      </tbody>
    </v-simple-table>
    <v-btn outlined
           class="mt-2"
           color="primary"
           @click="$emit('delivery-method-create')">Create</v-btn>
  </div>
</template>

<script>
export default {
  name: 'DeliveryMethodList',
  props: {
    deliveryMethods: Array
  },
  data: function() {
    return {
      hoveredDeliveryMethod: null,
    };
  }
}
</script>

<style scoped>
tbody td.actions {
  width: 72px;
  min-width: 72px;
  max-width: 72px;
}
</style>
