<template>
  <div>
    <div class="title">Delivery Methods</div>

    <delivery-method-list
      v-if="!isLoadingDeliveryMethods"
      v-bind:deliveryMethods="deliveryMethods"
      @delivery-method-create="showCreateDeliveryMethodWindow"
      @delivery-method-update="showUpdateDeliveryMethodWindow"
      @delivery-method-delete="showDeleteDeliveryMethodWindow" />
    <div v-else>Loading...</div>

    <v-dialog v-bind:value="creatingDeliveryMethod" max-width="600">
      <v-card>
        <v-card-title>Creating Delivery Method</v-card-title>

        <v-card-text>
          <delivery-method-update
            v-bind:deliveryMethod="creatingDeliveryMethod"
            v-bind:isCreating="true" />
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="creatingDeliveryMethod = null">Cancel</v-btn>
          <v-btn color="primary" text @click="createDeliveryMethod">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-bind:value="updatingDeliveryMethod" max-width="600">
      <v-card>
        <v-card-title>Updating Delivery Method</v-card-title>

        <v-card-text>
          <delivery-method-update v-bind:deliveryMethod="updatingDeliveryMethod" />
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="updatingDeliveryMethod = null">Cancel</v-btn>
          <v-btn color="primary" text @click="updateDeliveryMethod">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-bind:value="deletingDeliveryMethod" max-width="600">
      <v-card>
        <v-card-title>Deleting Delivery Method</v-card-title>

        <v-card-text>
          Delete delivery method <span class="font-weight-bold">{{ deletingDeliveryMethod && deletingDeliveryMethod.code }}</span>?
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="deletingDeliveryMethod = null">Cancel</v-btn>
          <v-btn color="red" text @click="deleteDeliveryMethod">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DeliveryMethodService from '../../services/DeliveryMethodService';

import DeliveryMethodList from './DeliveryMethodList.vue'
import DeliveryMethodUpdate from './DeliveryMethodUpdate.vue'

export default {
  name: 'DeliveryMethodPage',
  components: {
    DeliveryMethodList,
    DeliveryMethodUpdate
  },
  data: function() {
   return {
      deliveryMethods: [],
      isLoadingDeliveryMethods: false,
      creatingDeliveryMethod: null,
      updatingDeliveryMethod: null,
      deletingDeliveryMethod: null
    };
  },
  methods: {
    showCreateDeliveryMethodWindow: function() {
      this.creatingDeliveryMethod = {};
    },

    showUpdateDeliveryMethodWindow: function(deliveryMethod) {
      this.updatingDeliveryMethod = Object.assign({}, deliveryMethod);
    },

    showDeleteDeliveryMethodWindow: function(deliveryMethod) {
      this.deletingDeliveryMethod = deliveryMethod;
    },

    retrieveDeliveryMethods: function() {
      DeliveryMethodService.retrieveAll()
        .then(function (deliveryMethods) {
          this.deliveryMethods = deliveryMethods;
          this.isLoadingDeliveryMethods = false;
        }.bind(this));
    },

    createDeliveryMethod: function() {
      DeliveryMethodService.create(this.creatingDeliveryMethod)
        .then(function (deliveryMethod) {
          this.deliveryMethods.push(deliveryMethod);
          this.creatingDeliveryMethod = null;
        }.bind(this));
    },

    updateDeliveryMethod: function() {
      DeliveryMethodService.update(this.updatingDeliveryMethod.code, this.updatingDeliveryMethod)
        .then(function (deliveryMethod) {
          const index = this.findDeliveryMethodIndex(this.updatingDeliveryMethod.id);
          this.deliveryMethods.splice(index, 1, deliveryMethod);
          this.updatingDeliveryMethod = null;
        }.bind(this));
    },

    deleteDeliveryMethod: function() {
      DeliveryMethodService.delete(this.deletingDeliveryMethod.code)
        .then(function () {
          const index = this.findDeliveryMethodIndex(this.deletingDeliveryMethod.id);
          this.deliveryMethods.splice(index, 1);
          this.deletingDeliveryMethod = null;
        }.bind(this));
    },

    findDeliveryMethodIndex: function(deliveryMethodId) {
      return this.deliveryMethods.findIndex( ({ id }) => id === deliveryMethodId );
    }
  },

  created() {
    this.isLoadingDeliveryMethods = true;
    this.retrieveDeliveryMethods();
  }
}
</script>

<style scoped>
</style>
