<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title>
        Courier Server
      </v-toolbar-title>

      <v-toolbar-items>
        <v-btn text to="/messages">Messages</v-btn>

         <v-menu bottom>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on">Admin</v-btn>
          </template>

          <v-list>
            <v-list-item to="/messageKinds">
              <v-list-item-title>Message Kinds</v-list-item-title>
            </v-list-item>

            <v-list-item to="/adapters">
              <v-list-item-title >Adapters</v-list-item-title>
            </v-list-item>

            <v-list-item to="/deliveryKinds">
              <v-list-item-title>Delivery Kinds</v-list-item-title>
            </v-list-item>

            <v-list-item to="/deliveryMethods">
              <v-list-item-title>Delivery Methods</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar-items>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content class="ma-4">
      <router-view class="view"></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  components: {},
  data: () => ({}),
};
</script>

<style scoped>
</style>
