<template>
  <div v-if="message">
    <p>Id: {{message.id}}</p>
    <p>Message Kind: {{message.messageKind}}</p>
    <p>Target: {{message.targetMessageable}}</p>
    <p>Status: {{message.status}}</p>
    <p>Requested At: {{message.requestTime}}</p>

    <div>
      Deliveries:

      <ul>
        <li v-for="delivery in message.deliveries"
            v-bind:key="delivery.id">
          <span>Delivery Kind: {{delivery.deliveryKind}}</span><br />
          <span>Status: {{delivery.status}}</span><br />
          <span>Delivered At: {{delivery.deliveryTime}}</span><br />
          <span v-for="(value, key) in delivery.deliveryFields" v-bind:key="key">
            {{key}}: {{value}}<br />
          </span>
        </li>
      </ul>

    </div>
  </div>
</template>

<script>
export default {
  name: 'MessageShow',
  props: {
    message: Object
  }
}
</script>

<style scoped>
</style>
