<template>
  <div v-if="message">
    <v-text-field label="Id" v-model="message.id" disabled></v-text-field>
    <v-combobox
      label="Message Kind"
      v-model="message.messageKind"
      :items="messageKinds"
      item-text="code"
      item-value="code"
      :return-object="false"></v-combobox>
    <v-text-field label="Target" v-model="message.targetMessageable"></v-text-field>
  </div>
</template>

<script>
import MessageKindService from '../../services/MessageKindService';

export default {
  name: 'MessageUpdate',
  props: {
    message: Object
  },
  data: function() {
    return {
      messageKinds: [],
      isLoadingMessageKinds: false
    };
  },

  created() {
    this.isLoadingMessageKinds = true;

    MessageKindService.retrieveAll()
      .then(function (messageKinds) {
        this.messageKinds = messageKinds;
        this.isLoadingMessageKinds = false;
      }.bind(this));
  }
}
</script>

<style scoped>
</style>
