<template>
  <div>
    <div class="title">Messages</div>

    <message-list v-if="!isLoadingMessages"
                 v-bind:messages="messages"
                 @message-show="showShowMessageWindow"
                 @message-create="showCreateMessageWindow" />
    <div v-else>Loading...</div>

    <v-dialog v-bind:value="showingMessage" max-width="600">
      <v-card>
        <v-card-title>Showing Message</v-card-title>

        <v-card-text>
          <message-show v-bind:message="showingMessage" />
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="primary" text @click="showingMessage = null">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-bind:value="creatingMessage" max-width="600">
      <v-card>
        <v-card-title>Creating Message</v-card-title>

        <v-card-text>
          <message-create v-bind:message="creatingMessage" />
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="creatingMessage = null">Cancel</v-btn>
          <v-btn color="primary" text @click="createMessage">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import MessageService from '../../services/MessageService';

import MessageList from './MessageList.vue'
import MessageShow from './MessageShow.vue'
import MessageCreate from './MessageCreate.vue'

export default {
  name: 'MessagePage',
  components: {
    MessageList,
    MessageShow,
    MessageCreate
  },
  data: function() {
   return {
      messages: [],
      isLoadingMessages: false,
      showingMessage: null,
      creatingMessage: null
    };
  },
  methods: {
    showShowMessageWindow: function(message) {
      this.showingMessage = message;
    },

    showCreateMessageWindow: function() {
      this.creatingMessage = {};
    },

    retrieveMessages: function() {
      MessageService.retrieveAll()
        .then(function (messages) {
          this.messages = messages;
          this.isLoadingMessages = false;
        }.bind(this));
    },

    createMessage: function() {
      MessageService.create(this.creatingMessage)
        .then(function (message) {
          this.messages.push(message);
          this.creatingMessage = null;
        }.bind(this));
    },

    findMessageIndex: function(messageId) {
      return this.messages.findIndex( ({ id }) => id === messageId );
    }
  },

  created() {
    this.isLoadingMessages = true;
    this.retrieveMessages();
  }
}
</script>

<style scoped>
</style>
