<template>
  <div>
    <v-simple-table dense>
      <thead>
        <tr>
          <th>Message Kind</th>
          <th>Target</th>
          <th>Status</th>
          <th>Requested At</th>
          <th>Deliveries</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="message in messages"
            v-bind:key="message.id"
            @mouseover="hoveredMessage = message"
            @mouseleave="hoveredMessage = null">
          <td>{{ message.messageKind }}</td>
          <td>{{ message.targetMessageable }}</td>
          <td>{{ message.status }}</td>
          <td>{{ message.requestTime }}</td>
          <td>{{ message.deliveries.length }}</td>
          <td class="actions">
            <span v-if="message == hoveredMessage">
              <v-btn icon x-small color="blue" @click="$emit('message-show', message)">
                <v-icon>mdi-eye</v-icon>
              </v-btn>
            </span>
          </td>
        </tr>
      </tbody>
    </v-simple-table>
    <v-btn outlined
           class="mt-2"
           color="primary"
           @click="$emit('message-create')">Create</v-btn>
  </div>
</template>

<script>
export default {
  name: 'MessageList',
  props: {
    messages: Array
  },
  data: function() {
    return {
      hoveredMessage: null,
    };
  }
}
</script>

<style scoped>
tbody td.actions {
  width: 52px;
  min-width: 52px;
  max-width: 52px;
}
</style>
